* {
    margin: 0;   
    border: 0;
    box-sizing: border-box;   
}
body {
    background-color: rgb(40, 40, 40);
}
#root{
    background-image: url("img/sketchbook.png");
    background-repeat: no-repeat;
    max-width: 960px;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-size: cover;     
}
.header{
    padding: 20px 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeLogo{
    padding: 20px 10px;
    margin-bottom: 20px;
    max-width: 96%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

nav ul li img{
    display: flex;
    max-width: 25px;
    height: auto;
  }
.homeLogo img{
    margin-top: 70px;
    padding-bottom: 10px;
    width: 350px;
    float: left;
}
h1 img{
    padding-top: 50px;
    max-width: 50%;
}
.navBar{
    background-color: #FFBF43;
    margin:auto;
    width: 96%;
    }
.navBar ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav li{
    text-align: center;
    padding: 20px;
    flex-grow: 1;
}   
nav ul li:hover{
    background-color: rgb(247, 216, 154);
}   
nav li a{
    text-decoration: none;
        
}

main{
    width: 95%;
    margin: auto; 
    display: flex;
    justify-content: center; 
    flex-direction: column;          
}
.autentication{
    margin: auto; 
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
          
}
.registerUser{
    margin: auto; 
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.inputText{
    margin: 10px;
    border: none;
    border-bottom: solid;
    margin-bottom: 20px; 
    background-color: beige;   
}
.btn{
    margin-top: 5px;
    background-image: url("img/margeBotton.png");
    background-color: transparent;
    border:solid 2px;
    background-repeat: no-repeat;
    width: 150px;
    height: 25px;
    border-radius: 10px;
}
.btnAdd{
    background-image: url("img/plus.png");
    background-size: inherit;
    background-color: #FFBF43;
    font-size: large;
    border-radius: 7px;
    width: 50px;
    height: 50px;
    margin: 20px;
}
.btnAdd a{
    padding: 15px;
    color: black;
    text-decoration: none;
}
#idGoogle{
    margin: 5px;
    background-color: transparent;
    border: solid 1px black;
    max-width: 50%;
    height: 45px;
    border-radius: 10px;
}

.singIn{
    margin: auto;
    padding: 10px;
}
.singIn p{
    padding: 5px;
}
.singIn a{
    font-size: 15px;
    margin-top: 5px;
}
.businessCard{
    width: 55%;
    margin: auto;
    padding: 20px;
    border: solid 2px #4d1e03;
    background-color: antiquewhite;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;     
}
.businessCard img{
    margin: 3px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

#userPerfil{
margin-top: 20px;
}

.idUser{
    padding-top: 50px;
    color: black;
}
.myPages{
    margin: 3px;
}
.myPages p{
    display: flex;
    justify-self: flex-start;
    margin: 5px;
    color: #4d1e03;
}
.post{
    margin: auto;
    max-width: 70%;
    padding: 10px;
    border: solid 2px #4d1e03;
    border-radius: 5px;
}
.basePost{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.actionButtons{
    margin: auto;
}
.images{
    max-width: 70%;
    height: auto;
    border: solid black 2px;
}
footer{
    height: 50px;
    width: 90%;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    text-align: center;    
}

#topV{
display: flex;
}

#mobileV{
display: none;
}

/*@media to mobile screen */

/* Responsive para celular */
@media (max-width:700px) {

    /* Start Screen*/   
    
    h1 img{
        margin-top: 40px;
        margin-bottom: 0px;
        padding: 10px;
        max-width: 60%;
        float: center;
    }

    .header{
        padding: 10px;
        margin: 5px 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }  
    .autentication{
        margin: auto; 
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    #idGoogle{
        margin: 5px;
        background-color: transparent;
        border: solid 1px black;
        max-width: 50%;
        height: 45px;
        border-radius: 10px;
    }
        
    .btn{
        margin-top: 5px;
        background-image: url("img/marge-botton.png");
        background-repeat: no-repeat;
        max-width: 147px;
        height: 25px;
        border-radius: 10px;
    }

    /* Second Screen */

    .homeLogo{
        padding: 10px;
        margin-bottom: 20px;
        max-width: 96%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .homeLogo img{
        margin-top: 70px;
        margin-left: 15px;
        padding: 0;
        max-width: 50%;
        float: left;
    }
    .navBar{
        margin:22px;
        width: 97%;
    }
    nav li{
        text-align: center;
        flex-grow: 1;
    }    

    nav ul li img{
        display: flex;
        max-width: 20px;
        height: auto;
      }
   
    .businessCard img{
        margin: 3px;
        border-radius: 5px;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #mobileV{
        display: flex;
        margin-left: 10px;
    }

    .images{
        width: 70%;
        height: auto;
        border: solid black 2px;
        
    }    

    #topV{
        display: none;
    }
}